:root {
  --background: #ffffff;
  --color-primary: #739e55;
  --color-secondary: #3c4c44;
  --color-terciary: #040404;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-host-sans);
  --font-mono: var(--font-host-mono);
  --font-host-sans: 'Host Grotesk', sans-serif;
  --font-host-mono: 'Courier New', Courier, monospace;

  .main-container {
    max-width: 1352px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
  }

  @media (max-width: 1024px) {
    .main-container {
      max-width: 100%;
      padding: 0 8px;
    }
  }

  @media (max-width: 480px) {
    .main-container {
      padding: 0 4px;
    }
  }
}

body {
  background: var(--background);
  color: var(--color-terciary);
  font-family: var(--font-host-sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.ant-menu {
  cursor: pointer;
}

.ant-menu-overflow {
  width: 100% !important;
  display: flex !important;
  justify-content: flex-end !important;
}

.nav-mobile {
  display: none;
}
.nav-desktop {
  display: block;
}

@media (max-width: 768px) {
  .nav-mobile {
    display: block;
  }
  .nav-desktop {
    display: none;
  }
}
